@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* app/globals.css or wherever your global CSS is defined */
html,
body {
  height: 100%; /* Ensure full height */
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root, #__next {
  height: 100%; /* Ensure full height for Next.js app */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* keyframes  */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* globals.css */
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust to control the distance below text */
  width: 0;
  height: 2px; /* Line thickness */
  background-color: currentColor; /* Use the text color */
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%; /* Expands the line to full width */
}


